@model Podcast

@{
    ViewData["Title"] = "Create";
   Layout = null;
}

<h1>Create</h1>

<h4>Podcast</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastGroupId" class="control-label"></label>
                <select asp-for="PodcastGroupId" class ="form-control" asp-items="ViewBag.PodcastGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PodcastAudio" class="control-label"></label>
                @Html.EditorFor(x=>x.PodcastAudio)
                <span asp-validation-for="PodcastAudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <a class="btn btn-primary btn-lg  tjax" href='@Url.Action("Podcast","sport")' forsendform="#Frm"
                    method="POST" record="false">ثبت تغییرات</a>
            </div>
        </form>
    </div>
</div>



