@model SicknessFood

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SicknessFood</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodId" class="control-label"></label>
                <select asp-for="FoodId" class ="form-control" asp-items="ViewBag.FoodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SicknessId" class="control-label"></label>
                <select asp-for="SicknessId" class ="form-control" asp-items="ViewBag.SicknessId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MustBe" class="control-label"></label>
                <input asp-for="MustBe" class="form-control" />
                <span asp-validation-for="MustBe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

