@model IEnumerable<SportItem>

@{
    ViewData["Title"] = "حرکات ورزشی";
}

@section contentheader {
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">غذا ها</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>خانه</a></li>
                    <li class="breadcrumb-item active">حرکات ورزشی </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
}
  <a asp-action="Create">رکورد جدید</a>
<div class="k-rtl">
    <div id="report-grid"></div>
</div>
@section Scripts{
<script type="text/javascript">
    $(function () {
        var productsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("GetSportItems", "SportItem")",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET'
                },
                parameterMap: function (options) {
                    return kendo.stringify(options);
                }
            },
            schema: {
                data: "data",
                total: "total",
                model: {
                    fields: {
                        "id": { type: "number" }, //تعیین نوع فیلد برای جستجوی پویا مهم است
                        "title": { type: "number" },
                        "description": { type: "description" },



                    }
                }
            },
            error: function (e) {
                alert(e.errorThrown);
            },
            pageSize: 20,
            group: [{ field: "sport.sportGroup.title", title: "گروه" }, { field: "sport.title", title: "ورزش مربوطه" },],
            sort: { field: "id", dir: "desc" },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });

        $("#report-grid").kendoGrid({
            dataSource: productsDataSource,
            autoBind: true,
            scrollable: false,
            pageable: true,
            sortable: true,
            filterable: true,
            reorderable: true,
            editable: false,
            columnMenu: true,
            columns: [
                { field: "id", title: "شماره", width: "130px" },
                { field: "title", title: "عنوان" },
                { field: "description", title: "توضیحات" },
                {
                    field: "id", title: "عملیات",
                    template: '<a  href="/sportItem/edit/#=id#" class="k-button" >ویرایش</a>  <a  href="/sportItem/delete/#=id#" class="k-button" >حذف</a>'
                }
            ],
     
        });
    });



</script>
<script id="persianDateTemplate" type="text/x-kendo-template">
        #if( paymentDate ) {#
           #=moment(paymentDate).format('jYYYY/jMM/jDD')#
        #}#
    </script>
}
