<div class="col-12 col-sm-6 col-md-3">
    <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fa fa-book"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">کتابها</span>
            <span class="info-box-number">
               @Model
                <small>عدد</small>
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>